				@font-face {
					font-family: 'balaramunicode';
					src: url('7536BalaramUnicode.woff2') format('woff2'),
						url('7536BalaramUnicode.woff') format('woff');
					  font-display: auto;
				}

				.balaramunicode{font-family: 'balaramunicode' !important;}

						.site-description, body, p, li, a, .menu-contact-us-container li a, .menu-contact-us-container li span, #menu-contact-us li a, #menu-contact-us li span, .menu-lecture-transcripts-container li a, .menu-lecture-transcripts-container li span, #menu-lecture-transcripts li a, #menu-lecture-transcripts li span{
					font-family: 'balaramunicode' !important;
				}
		